<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733399027730-vgkn3efojhrmlkprrlurge80knvto876.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733399027730-vgkn3efojhrmlkprrlurge80knvto876</string>
	<key>API_KEY</key>
	<string>AIzaSyB7-wDzYb6UNc0679H0Djerqg9-Q627Zus</string>
	<key>GCM_SENDER_ID</key>
	<string>733399027730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.dream.FirstApp</string>
	<key>PROJECT_ID</key>
	<string>logintest-app</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:733399027730:ios:3bed917f0f052206c7c8cb</string>
	<key>DATABASE_URL</key>
	<string>https://logintest-app.firebaseio.com</string>
</dict>
</plist>
